{
  "whitelist": [
    "es6.modules",
    "es6.arrowFunctions",
    "es6.destructuring",
    "es6.spread",
    "es6.parameters",
    "es7.classProperties",
    "es7.decorators",
    "es7.asyncFunctions",
    "es7.objectRestSpread",
    "regenerator"
  ]
}
